@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4% 95%;
    --foreground: 240 5% 10%;

    --card: 0 0% 98%;
    --card-foreground: 240 5% 10%;

    --popover: 240 5% 90%;
    --popover-foreground: 240 5% 10%;

    --primary: 333 71% 50%;
    --primary-foreground: 327 73% 97%;

    --secondary: 5 57% 28%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 83%;
    --muted-foreground: 240 5% 10%;

    --accent: 355 100% 97%;
    --accent-foreground: 349 89% 60%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 85% 97%;

    --border: 240 4% 83%;
    --input: 240 4% 83%;
    --ring: 333 71% 50%;

    --radius: 1.5rem;

    --heading: 320 100% 17%;
    --tag: 34 73% 80%;
    --soft-bg: 87 27% 76%;
  }

  .dark {
    --background: 240 5% 10%;
    --foreground: 0 0% 98%;
    --card: 240 3% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 26%;
    --popover-foreground: 0 0% 98%;
    --primary: 328 85% 70%;
    --primary-foreground: 336 83% 17%;
    --secondary: 240 3% 46%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3% 46%;
    --muted-foreground: 0 0% 98%;
    --accent: 343 87% 15%;
    --accent-foreground: 351 94% 71%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;
    --border: 240 5% 33%;
    --input: 240 5% 33%;
    --ring: 328 85% 70%;
    --heading: 34 100% 90%;
    --tag: 34 50% 30%;
    --soft-bg: 87 20% 20%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-heebo), 'Heebo', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-rubik), 'Rubik', sans-serif;
  }
}

@layer utilities {
  .hover-scale {
    @apply transition-transform duration-200 hover:scale-105;
  }
}
